{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <link rel="shortcut icon" href="{% static 'imagens/art-logo.ico' %}" type="image/x-icon">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit">Entrar</button>
    </form>
    <p>Não tem uma conta? <a href="{% url 'register' %}">Registre-se</a></p>
</body>
</html>